#main{
    position : absolute;
    margin-left : 35%;
    width : 30%;
}
.mbtn{
    position : relative;
    margin : 10px;
    width : 95%;
}
#eye{
    position : relative;
    width : 250px;
    height : 250px;
    margin-left : 50%;
    transform: translate(-125px,0px);
    margin-top : 5%;
}